#!/bin/bash

# {{ if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
# {{ else if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
# {{ end }}

# Brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}

brew bundle --file="$HOME/.Brewfile"
