#!/bin/bash

# {{ if eq .chezmoi.os "darwin" -}}
set -eu

# ウィンドウをどこからでもドラッグできるようにする
defaults write -g NSWindowShouldDragOnGesture -bool true

# VSCode でキー長押し時のアクセント入力ポップアップを無効化しキーリピートを有効化
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
# {{ end }}
